* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(228, 227, 227, 0.938);
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  width: 600px;
  height: 650px;
  gap: 1.5rem;
  border-radius: 1.5rem;
  background-color: white;
}

.para {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 3rem;
  font-weight: 800;
  color: cornflowerblue;
}

.small-para {
  font-size: 1.85rem;
  color: grey;
  margin-bottom: 0.5rem;
}

.input-design {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.text {
  font-size: 1.25rem;
}

.checkbox {
  width: 1rem;
}

.password-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 75%;
}

#label {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.length {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  width: 75%;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 250px;
  height: 45px;
  padding-left: .5rem;
  box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
  border: 0;
  border-radius: 12px;
  outline: none;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  display: flex;
  align-items: center;
  z-index: 0;
}

.input::placeholder {
  color: #bdbecb;
}

.input:hover {
  box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}

button {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 12px 25px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725AC1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725AC1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
}

button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}

button:active {
  transform: scale(0.9);
}

@media screen and (max-width: 1024px) {
  .section {
    width: 550px;
    height: 625px;
  }
  .para {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .section {
    width: 425px;
    height: 615px;
  }
  .para {
    font-size: 2.25rem;
  }
  .input {
    width: 225px;
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 468px) {
  .section {
    width: 285px;
    height: 525px;
  }
  .para {
    font-size: 1.55rem;
  }
  .input {
    width: 11rem;
    font-size: 0.7rem;
    height: 2.5rem;
  }
  button {
    margin: 5px;
    padding: 12px 20px;
    font-size: 1rem;
  }
  .small-para {
    font-size: 1.25rem;
  }
  .text {
    font-size: 0.85rem;
  }
  .range {
    width: 5.5rem;
  }
  .checkbox {
    width: 0.85rem;
  }
}